<div class="back container">
  <div class='show_form'>
    <span class='close'>x</span>
    <%= @newska.user.email %>
    <%= @newska.created_at %>
    <%= @newska.title %>
    <%= @newska.content %>
  </div>
</div>
