@import "bootstrap";
@import "bootstrap-responsive";

body {
  margin: 0px;
  padding: 10px;
}

.back {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
}

#news {
  margin: 20px auto;
  width: 500px;
}

.newska_title {
  width: 380px;
  height: 21px;
  font-size: 20px;
  color: gray;
  overflow: hidden;
  float: left;
}

.newska_content {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  clear: both;
}

.new_session, .show_form, .manage_form {
  margin: 100px auto;
  padding: auto;
  width: 220px;
  height: auto;
  background: white;
}

#news_title {
  width: 400px;
}

#news_content {
  width: 400px;
  height: 300px;
}

.manage_form {
  width: 415px;
}

.btn-submit {
  float: right;
}

textarea {
  resize: none;
}

.edit_news, .delete_news, .votes {
  float: right;
}

.show_newska {
  cursor: pointer;
}

#login, #logout, #add_news {
  float: right;
}

#navigation, .pagination {
  text-align: center;
  clear: both;
}

.show_form {
  width: 600px;
}
