.back {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
}

.new_session, .show_form, .manage_form {
  margin: 100px auto;
  padding: auto;
  width: 300px;
  height: auto;
  background: white;
}

.manage_form {
  width: 400px;
}
